
<% users.forEach(function(user){ %>
    <tbdody>
        <tr>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= user.city %></td>
            <td><%= user.roleoptions %></td>
        </tr>
    </tbdody>
<% }); %>
