<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add User</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  

<!--<% include ./partials/header %>-->
</head>
<% include ./partials/sidebar %>
<div class="content" >
<div class="align-center-all">
        <div class="container">
                
          <div class="form-horizontal col-sm-3 col-md-3 col-lg-3"></div>
          <div class="form-horizontal col-sm-6 col-md-6 col-lg-6">
                <% if(typeof msg != 'undefined'){ %> 
                    <div class="alert alert-warning">
                      <strong>Warning!</strong> <%= msg %>
                    </div>
                   <% } %>
                   <% if(typeof succ != 'undefined'){ %> 
                    <div class="alert alert-success">
                      <strong>Congo!</strong> <%= succ %>
                    </div>
                   <% } %> 
            <center>
              <h3 class="page-header" style="color:#707070" >Create Community</h3>
            </center>
              <form action='/profile/commHome/addComm' method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                      <input class="form-control" type="text" required="" name="name" placeholder="Name" maxlength="70" required>
                  </div>
                  <div class="form-group">
                          <label style="color:#707070">Description</label>
                          <textarea class="form-control" rows='10' id='description' name="description" style="overflow:hidden" required></textarea>
                  </div>
                  <div class="form-group ">
                      <label style="color:#707070">Rule :</label>
                      <input class="radio radio-inline"  type="radio" checked value="D" name="permission"> Direct
                      <input class="radio radio-inline" type="radio" value="P"  name="permission"> Permission
                  </div>
                  <div class="form-group" >
                      <input class="form-control" id="file"  name="image" type="file" />
                  </div>
      
                 <div class="form-group" id="dynamic">
      
                  </div>
                  <div class="form-group">
                          <input class="form-control btn btn-primary" type="submit" value="Create Community" >
                  </div>
              </form>
            </div>
          </div>
      </div>
      
      </div>

</div>
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

</html>