<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Pasword</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<% include ./partials/header %>-->
<% include ./partials/sidebar %>
<div class="content">
<div class="container">
    <center>
    </center>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6" style="background-color:#fff;border:5px solid rgba(0,0,0,0.1);margin-top:40px">
        <br />
       
        <div class="alert alert-dismissible" style="border:1px solid #E2E5E1" id="alert-div-avilability">
            <center>
              <label id="avilability"></label>
              <% include ./partials/errors %>
            </center>
        </div>

            <h1>Change Password</h1>
            <form action="/profile/changePassword" method="post" class="form-horizontal" id="form">
              <div class="col-sm-12">
                
                <div class="form-group">
                    <input type="password" required="" name="password1" class="form-control" placeholder="Old Password" autocomplete="off"><br/>
                </div>
                <div class="form-group">
                        <input type="password" required="" name="password2" class="form-control" placeholder="New Password" autocomplete="off"><br/>
                    </div>
                <div class="form-group">
                        <input type="submit" value="Change" class="btn btn-success">
                        <a value="Add User" class="btn btn-danger" href="/profile">Cancel</a>
                    </div>
                </div>
                </form>
                </div></div></div>
            </body>
            </html>